body{
    margin:0;
    background: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.5;
}
.first
{
    background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    position: absolute;
    background-position: center;
    opacity: 0.5;
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
header h1{
    padding-top: 100px;
}
header p{
    padding: 0px 50px;
}
#btn{
    padding: 1em;
    color: #fff;
    background: #333;
    border: 1px solid #666;
}
#btn:hover{
    color: #333;
    background: #fff;
    cursor:pointer;
}
header{
    padding-bottom: 100px;
}
.section-d{
    display: flex;
}
.box:first-child{
    background-color: #2690D4;
}
#sectionA{
    background-color: #fff;
    color: #333;
    padding: 20px 0px;
}