body{
    margin: 0;
    background-color: white;
}
#container-1{
    background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    height: 400px;
    text-align: center;
    padding: 100px 350px 50px 350px;
    background-size: cover;
    opacity: 0.95;
}
#heading-1{
    font-size: 35px;
    line-height: 53px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
#paragraph-1{
    font-size: 18px;
    line-height: 26px;
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
#button-1{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: #333333;
    color: white;
    border: 2px solid #333333;
    padding: 20px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#button-1:hover{
    color:#333333;
    background-color: white;
}
.text-container{
    text-align: center;
    padding: 30px 300px;
}
.heading-2{
    color: #333333;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.inner-container-1{
    display: flex;
    padding: 25px;
}
.inner-text{
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
#container-3{
    display: flex;
    padding: 50px 250px;
    background-color: #333333;
}
.heading-3{
    font-size: 21px;
    line-height: 31px;
    color: #333333;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    background-color: white;
}
.card-container img{
    width:100%;
    height: auto;
}
.card-container
{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
#container-4{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
}
#inner-container-2{
    background-color: #2690D4;
    text-align: center;
    color: white;
    padding: 50px 100px;
}
#inner-container-3{
    background-color: #333333;
    text-align: center;
    color: white;
    padding: 50px 100px;
}
.inner-heading-2{
    font-size: 26px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.inner-paragraph-2{
    font-size: 18px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
#container-5{
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
#link{
    color: #2690d4;
}
#link:hover{
    text-decoration: underline;
    cursor: pointer;
}
#main-heading{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:600px) {
    #container-3{
        padding: 10px;
        flex-direction: column;
    }
    #container-1{
        padding:10px;
        height: 400px;
    }
    .text-container{
        padding: 10px;
    }
    .inner-container-1{
        flex-direction: column;
        text-align: justify;
    }
    #container-4{
        display: flex;
        height: auto;
        flex-direction: column;
    }
    #inner-container-2{
        padding: 50px 10px;
    }
    #inner-container-3{
        padding: 50px 10px;
    }
    #container-5{
        justify-content: space-between;
        line-height: 5px;
        padding: 5px 10px;
        font-size: 12px;
    }
}